<button (click)='logout()'>Logout?</button>
<a [routerLink]="['/','dashboard']">Back to dashboard</a>

<h1>{{ name }}</h1>


<h2>Done:</h2>

<h5 *ngFor='let y of personalList'>
  
  <p *ngIf='y.completed'>
      <input id="checkbox-3" class="checkbox-custom" name="checkbox-3" type="checkbox" checked disabled>
      <span *ngIf='y.created_by'>{{ y.created_by }} |</span>
      <span *ngIf='!y.created_by'>Item added before code adjusted |</span>
      {{ y.title}} - 
      {{ y.description}} - 
      {{ y.created_at | date:'longDate' }}
  </p>

</h5>

<h2>Pending:</h2>

<h5 *ngFor='let y of personalList'>
  
  <p *ngIf='!y.completed'>
      <input id="checkbox-3" class="checkbox-custom" name="checkbox-3" type="checkbox" disabled>
      <span *ngIf='y.created_by'>{{ y.created_by }} |</span>
      <span *ngIf='!y.created_by'>Item added before code adjusted |</span>
      {{ y.title}} - 
      {{ y.description}} - 
      {{ y.created_at | date:'longDate' }}
  </p>

</h5>

